@charset "UTF-8";

 @font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?96886464');
	src: url('../font/fontello.eot?96886464#iefix') format('embedded-opentype'),
			 url('../font/fontello.woff?96886464') format('woff'),
			 url('../font/fontello.ttf?96886464') format('truetype'),
			 url('../font/fontello.svg?96886464#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'fontello';
		src: url('../font/fontello.svg?96886464#fontello') format('svg');
	}
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
 
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
 
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
		 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
 
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
 
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
 
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-youtube:before { content: '\55'; } /* 'U' */
.icon-acrobat:before { content: '\e3'; } /* 'ã' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-layout:before { content: '\268f'; } /* '⚏' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-up-bold:before { content: '\e800'; } /* '' */
.icon-down-bold:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-video:before { content: ''; } /* '\1f3ac' */
.icon-user:before { content: ''; } /* '\1f464' */
.icon-monitor:before { content: ''; } /* '\1f4bb' */
.icon-phone-1:before { content: ''; } /* '\1f4de' */
.icon-arrows-ccw:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: ''; } /* '\1f50d' */

@mixin adobe-calson($size, $variant) {
	font:{
		@if $variant == regular {
			family: "adobe-caslon-pro-n4","adobe-caslon-pro",serif;
			style: normal;
			weight: 400;
		} @else if $variant == semibold {
			family: "adobe-caslon-pro-n6","adobe-caslon-pro",serif;
			style: normal;
			weight: 600;
		} @else if $variant == semibold-italic {
			family: "adobe-caslon-pro-n6i","adobe-caslon-pro",serif;
			style: italic;
			weight: 600;
		} @else if $variant == bold {
			family: "adobe-caslon-pro-n7","adobe-caslon-pro",serif;
			style: normal;
			weight: 700;
		} @else {
			family: "adobe-caslon-pro-n4","adobe-caslon-pro",serif;
			style: normal;
			weight: 400;
		}

		size: $ize;
	}
}

@mixin proxima-nova($size, $variant) {
	font:{
		@if $variant == regular {
			family: "proxima-nova-n4","proxima-nova",sans-serif;
			style: normal;
			weight: 400;
		} @else if $variant == bold {
			family: "proxima-nova-n7","proxima-nova",sans-serif;
			style: normal;
			weight: 700;
		} @else {
			family: "proxima-nova-n4","proxima-nova",sans-serif;
			style: normal;
			weight: 400;
		}

		size: $size;
	}
}