header.primary{
	.homepage &{
		background: image-url('homeHeaderGradient.png') top left repeat-x;
	}
	margin-bottom: 1em;
	min-height: 290px;
	position: relative;
	width: 100%;
	z-index: 10;
}

	#user-tools {
		@media screen and (max-width: 580px){
			border-bottom: 1px solid $topBarColor;
		}

		a {
			color: $headerFontColor;
		}
	}

	.logo{
		background:{
			image: image-url($logo);
			position: top center;
			repeat: no-repeat;
		}
		background-size: contain;
		clear: both;
		display: block;
		height: 63px;
		margin: 15px auto 20px;
		position: relative;
		width: 132px;

		@media screen and (-webkit-min-device-pixel-ratio: 1.5),	(min-device-pixel-ratio: 1.5){
			background-image: image-url($logo-retina);
		}
	}